// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify

@import "./config";
.container {
  @include bp("sm"){
    max-width: 900px;
  }
  @include bp("md"){
    max-width: 1185px;
    padding-left: 4rem;
    padding-right: 4rem;
  }
  @include bp("lg"){
    max-width: 1300px;
  }
  @include bp("xl"){
    max-width: 1300px;
  }
  @include bp("xs"){
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
